<header>
    <nav>
        <div class="header-logo">
            <img src="../../assets/images/Logo.png" alt="no-img">
        </div>
        <ul class="ul-flex">
            <li> <a routerLink="/">Testboard</a> </li>
            <li> <a href=""> Quizboard</a> </li>
            <li> <a href="">PVQboard</a> </li>
            <li> <a routerLink="/discuss">Discuss</a> </li>
            <li> <a href="">Current Affairs</a> </li>
        </ul>
        <div class="discuss-nav-name">
            <a href="">Vaibhav Avhad</a>
        </div>
    </nav>
</header>
<div class="discuss-container">
    
</div>