<div class="AfterExamContainer">
    <div class="afterTitle">
      <h1>Test Summary</h1>
    </div>
  <div class="afterOverall">
    <h4>Overall summary of your test paper</h4> 
  </div>
    <table>
       <tr class="head">
        <th>Section</th>
        <th>Answered</th>
        <th>Not Answered</th>
        <th>Marked For Review</th>
        <th>Not Visited</th>
       </tr>
       <tr class="body">
       <td>Reasoning</td>
       <td>2</td>
       <td>5</td>
       <td>0</td>
       <td>33</td>
       </tr>
    </table>
  <div class="Confirmation">
    <h3>Do you wish to submit this test?</h3>
  </div>
  <div class="btnGroup">
    <div>
      <button class="back">Back</button>
    </div>
    <div>
      <button class="Next">Next section</button>
    </div>
  </div>
  <hr>
  <div class="instructions">
    <p><strong>Note:</strong>You Have To Submit Feedback For Every Incorrect And Unattempted Question In Right Corner Of The Solution Window, So You Can See The Feedback Analysis In Our Analytics Section</p>
  </div>
</div>
