<div class="container">
    <div class="login">
        <form action="">
            <h1>Login</h1>
            <button class="loginBtn loginBtn--google">
                Login Using Google
              </button>
              <button class="loginBtn loginBtn--facebook">
                Login Using Facebook
              </button>
            <br>
            <h3>Or</h3>
            <label for="email">Email <Address></Address></label>
            <input type="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password">
            <button>Login</button>
            <p class="forget">
                <a href="#">Forget Password?</a>
            </p>
            <p class="bottom"><a href="#">Create New Account</a></p>
        </form>
    </div>
</div>


<div class="main">
    <div class="register">
        <form action="">
            <h1>Register</h1>
            <button class="registerBtn registerBtn--google">
                Register Using Google
              </button>
              <button class="registerBtn registerBtn--facebook">
                Register Using Facebook
              </button>
            <br>
            <h3>Or</h3>
            <label for="first name">First Name</label>
            <input type="name" placeholder="First Name">
            <label for="lastname">Last Name</label>
            <input type="name" placeholder="Last Name">
            <label for="email">Email Address</label>
            <input type="email" placeholder="example@gmail.com">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Password">
            <button>Register</button>
            <p class="bottom">Already Have An Account?<a href="#">Login</a></p>
        </form>
    </div>
</div>