<header>
    <nav>
        <div class="header-logo">
            <img src="../../assets/images/Logo.png" alt="no-img">
        </div>
        <ul class="ul-flex">
            <li> <a routerLink="/">Testboard</a> </li>
            <li> <a routerLink=""> Quizboard</a> </li>
            <li> <a routerLink="">PVQboard</a> </li>
            <li> <a routerLink="/discuss">Discuss</a> </li>
            <li> <a routerLink="">Current Affairs</a> </li>
        </ul>
        <div class="nav-btns">
            <button class="login-btn"> <i class="ri-account-circle-line"></i>Login</button>
            <button class="buy-btn"> <i class="ri-shopping-cart-2-line"></i>Buy Now</button>
        </div>
    </nav>

</header>