<header>
    <nav class="sol-nav-main">
        <div class="sol-nav-Solution">
            <p>Solutions</p>
           <button class="sol-line1"></button>
            <p>JUNOR CLERK</p>
            <button class="sol-navbtn1">TEST 01 <img src="/assets/images/sol-nav1.svg" alt=""></button>
        </div>
        <ul class="sol-nav-menu">
            <li> <a routerLink="/" routerLinkActive="active">All</a> </li>
            <li> <a routerLink="#"> Marathi</a> </li>
            <li> <a routerLink="#">English</a> </li>
            <li> <a routerLink="#">General Awarness</a> </li>
            <li> <a routerLink="#">Intellectual Test</a> </li>
        </ul>
        <div class="sol-nav-btns">
            <button class="sol-navbtn2"><img src="/assets/images/sol-nav2.svg" alt="">TESTBOARD</button>
            <button class="sol-navbtn3"><img src="/assets/images/sol-nav3.svg" alt="">ANALYTICS</button>
        </div>
    </nav>
</header>