<app-nav></app-nav>
<section class="testsec">
    <div class="testdiv1">
    <img src="../../assets/images/Frame 66.png">
    <img src="../../assets/images/Frame 67.png">
    <img src="../../assets/images/Frame 68.png">
    <img src="../../assets/images/Frame 69.png">
</div>
    <div class="field col-12 md:col-4">
        <span class="p-float-label p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" id="inputtext-left" pInputText [(ngModel)]="valueIconLeft"> 
            <label for="inputtext-left">Search Your Exam Here</label>
        </span>
    </div>
</section>