<app-sol-nav></app-sol-nav>
<div class="sol-main-container">

    <div class="sol-main-left">

        <div class="sol-subheader">
            <div class="sol-side1">
                <p>Question NO.</p>
                <h4>2</h4>
                <button onclick="option()" class="sol-side1-btn">Incorrect</button>
            </div>

            <div class="sol-side2">
                <ul>
                    <li>YOU</li>
                    <li class="sol-side2b">7s</li>
                </ul>
                <ul>
                    <li>TOPER</li>
                    <li class="sol-side2b">40ss</li>
                </ul>
                <ul>
                    <li>AVG</li>
                    <li class="sol-side2b">1m 18s</li>
                </ul>
                <ul>
                    <li>CORRECT</li>
                    <li class="sol-side2b">29%</li>
                </ul>
                <ul>
                    <li>INCORRECT</li>
                    <li class="sol-side2b">24%</li>
                </ul>
                <ul>
                    <li>SKIPPED</li>
                    <li class="sol-side2b">47</li>
                </ul>
                <ul>
                    <li>MARKS</li>
                    <li class="sol-side2b">-0.25/1</li>
                </ul>
            </div>
        </div>

        <div class="sol-content">

            <div class="sol-cont-sec1">
                <div class="sol-cont-side1">
                    <button class="sol-cont-btn1">02</button>
                    <h4>Identify the Correct Sentence/S:</h4>
                </div>
                <div class="sol-cont-side2">
                    <div>
                        <img src="/assets/images/sol-cont1.svg" alt="">
                    </div>
                    <h5>Report</h5>
                </div>
            </div>

            <div class="sol-cont-sec2">
                <ol class="sol-cont-list1">
                    <li>The scissors are blunt.</li>
                    <li>Statistics was always my worst subject. </li>
                    <li>The economics behind their policies are unreasonable.</li>
                    <li> The governing party usually do bad in mid term by-elections.</li>
                </ol>
            </div>

            <div class="sol-cont-line2">
                <!-- line -->
            </div>


            <div class="sol-cont-sec3">
                <h5>Answer Options:</h5>

                <div class="sol-quests">

                    <div class="sol-quest1">

                        <div class="col-q1-side1">
                            <button class="sol-cont-btn1" style="background-color: #00A650; color:#fff">01</button>
                            <h4>Only 1,2,3</h4>
                        </div>
                        <div class="col-q1-side2">
                            <button style="background-color:#00A650;"><img src="/assets/images/sol-correct.svg"
                                    alt="img"> Correct Answer</button>
                        </div>
                    </div>

                    <div class="sol-quest2">
                        <div class="col-q1-side1">
                            <button class="sol-cont-btn1">02</button>
                            <h4>Only 2,3,4</h4>
                        </div>
                        <div class="col-q1-side2">
                            <button style="background-color:#EE1C25;"><img src="/assets/images/sol-wrong.svg" alt="img">
                                Wrong Answer</button>
                        </div>
                    </div>

                    <div class="sol-quest3">
                        <button class="sol-cont-btn1">03</button>
                        <h4>Only 1 and 3</h4>
                    </div>


                    <div class="sol-quest4">
                        <button class="sol-cont-btn1">04</button>
                        <h4>All The Above</h4>
                    </div>

                </div>

            </div>

            <div class="sol-cont-sec4">

                <button style="background-color:#E7E7E7; width:8em;"><img src="/assets/images/sol-left.svg" alt="img">
                    Previous</button>
                <button style="background-color:#6827AB; width: 5em; color: #fff;">Next <img
                        src="/assets/images/sol-right.svg" alt="img"></button>
            </div>


            <div class="sol-main-right">

            </div>

        </div>